/* Breakpoints
   ================================================================================================================== */


$breakpoint-lap:          481px;
$breakpoint-desk:         1024px;
$breakpoint-bigscreen:    1700px;



/* Colors
   ================================================================================================================== */

$black:            #000;
$white:            #fff;



/* Typography
   ================================================================================================================== */


$font-header:      "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-body:        "Roboto Slab", serif;
$font:             1em/1.5 $font-body;



/* Link colors
   ================================================================================================================== */

$link-color:       #ffde00;
